@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'),
        url('Raleway-Regular.woff2') format('woff2'),
        url('Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

